@model IdentityExample.DomainClasses.SubFreeContent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EndUserLayOut.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubFreeContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FreeContent.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeContent.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikeCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisLikeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisLikeCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCommentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCommentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDisLikeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDisLikeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLikeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLikeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
<*@/p>
